@import "common/header";
@import "common/footer";
@import "libs/nullstyle";
@import "main/app";
@import "find/app";


#root {
  height: 100%;
}



.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  background-color: #F0F1F3;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 959px) {
  .container {
    max-width: 580px;
  }

}

@media (max-width: 639px) {
  .container {
    max-width: 430px;
  }


}

@media (max-width: 479px) {
  .container {
    max-width: 280px;
  }

}


